@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Dynamic";
}

<h3>Display Dynamic Data</h3>
<table>
    <tr>
        <td>
            Name:
        </td>
        <td>
            @Model.Name
        </td>
    </tr>
</table>
<br />
<br />
<br />
NOTE: This model data will not persist. This data would normally be stored in a data base somewhere and then pulled again when needed.
