@model IntroToASP.NETMVC.Models.LoginInformationModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Display Form";
}

<h3>Display Form Data</h3>
<table>
    <tr>
        <td>
            Email Address:
        </td>
        <td>
            @Model.EmailAddress
        </td>
    </tr>
    <tr>
        <td>
            Password:
        </td>
        <td>
            @*Normally we do not show passwords, here we show them for educational purposes*@
            @Model.Password  
        </td>
    </tr>
</table>
<br />
<br />
<br />
NOTE: This model data will not persist. This data would normally be stored in a database somewhere and then pulled again when needed.
